#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

.logo {
  height: 6em;
  will-change: filter;
}

.logo.anim:hover {
  filter: drop-shadow(0 0 10px cyan);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(2);
  }
}

@keyframes zoom_out {
  from {
    transform: scale(2);
  }

  to {
    transform: scale(1);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .spin .logo {
    animation: logo-spin infinite 5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  p.zoom-in {
    animation: zoom normal 0.5s forwards;
  }

  p.zoom-out {
    animation: zoom_out normal 0.5s forwards;
  }
}

button:active {
  filter: drop-shadow(0 0 10px cyan);
}

button {
  border: 1px solid transparent;
  font-size: 2em;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button.spin {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

button.reset {
  border-radius: 10%;
  width: 6em;
  height: 3em;
}

button:hover {
  border-color: cyan;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}